extends ../../layouts/index.jade

block head-title
    | - ЗАКАЗАТЬ ДИПЛОМНУЮ РАБОТУ

block styles
    //- link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
  .container.order-work
    .wrappContent
      h1 ЗАКАЗАТЬ ДИПЛОМНУЮ РАБОТУ
      .description
        p Чтобы недорого заказать дипломную работу, воспользуйтесь предложением нашей компании. Мы выполняем срочное написание исследований по привлекательным ценам.
        p Подготовка проекта по окончании обучения в вузе — сложная задача, требующая длительного труда. Так как большинство выпускников уже работают, свободного времени практически нет. Сложно совмещать теоретическое исследование и практические разработки с семьей и карьерой, поэтому приходится поручать работу специалистам. Предлагаем купить дипломный проект по выгодной цене, чтобы получить отличную оценку на защите.
      form.form.formOrderWork
        +leterOrder
        .title ОФОРМИТЬ ЗАКАЗ
        +chepterForm
        //- .formContent
          .leftFormContent
            .groupInput
              label Тип работы
                span.required *
              .select
                span.default-value ВЫБЕРИТЕ ТИП РАБОТЫ
                ul
                  li Дипломная работа
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem
                  li Lorem Ipsum
                  li Ipsum
            .groupInput
              label
                | Предмет
                span.required *
              input(type="text" placeholder="предмет")
            .fileUpload.upladDoc.addInfo
              span + Приекрепить документы об образовании
              input.upload(type='file')
          .rightFormContent

            .groupInput
              .groupInputSubitem
                label
                  | Количество страниц
                  span.required *
                input.number(type="text" placeholder="60-80")
              .groupInputSubitem
                label
                  | Размер шрифта
                  span.required *
                .select.number
                  span.default-value 14px
                  ul
                    li 16px
                    li 18px
                    li 20px
            .groupInput
              label
                | Тема
                span.required *
              input(type="text" placeholder="Ваше имя")
          hr
          .leftFormContent
            .groupInput
              label
                | Город
                span.required *
              input(type="text" placeholder="Введите город")
            .groupInput
              label
                | Имя
                span.required *
              input(type="text" placeholder="Ваше имя")

          .rightFormContent
            .groupInput
              label
                | email
                span.required *
              input(type="text" placeholder="email")
            .groupInput
              label
                | Телефон
                span.required *
              input.phoneValidation(type="tel" placeholder="+7 *** *** ****")

        input(type="submit" value="создать заказ").btn.sendBtn
      .fourPlus
        //- +fourPlus
        a.fourPlus-item.sectionContent-item.active(href="#")
          i.icon.icon-le-smart-price
          h4 Уникальные работы, проверенные на антиплагиат
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-garant
          h4 Гарантии высокого качества
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-human
          h4 Бесплатные доработки и корректировки
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-short-time
          h4 Короткие сроки
      .desc
        p Дипломная работа на заказ стоит недорого, если доверить написание нашим исполнителям. Мы работаем со всеми гуманитарными, техническими, естественными и другими направлениями. Опытные сотрудник дешево напишут подробное исследование по любой теме. Достаточно точно сформулировать тему и требования руководителя к выполнению, чтобы срочно получить необходимый результат.
      .processWork
        h2 ЭТАПЫ РАБОТ
        +fourCircle
        h2 СТОИМОСТЬ ДИПЛОМНОЙ РАБОТЫ НА ЗАКАЗ
        p Выполнение задания обойдется недорого благодаря отработанной схеме сотрудничества между заказчиком и исполнителем. Стоимость дипломной работы начинается от 6900 рублей. У нас на постоянной основе работают преподаватели ведущих вузов, в том числе кандидаты и доктора наук. Предлагаем подготовить работу в сжатые сроки. Благодаря опыту исполнитель справится с заданием в минимальный промежуток времени. Даже если до защиты осталось немного времени, мы решим проблему.
        .decription
          .leftDesc
            ul
              li Из чего складывается цена дипломной работы и срок ее выполнения?
              li ― Тема дипломной работы;
              li ― Учебная дисциплина;
              li ― Наличие собственных наработок;
              li ― Охват сведений по вопросу в академической литературе;
              li ― Срочность выполнения;
              li ― Дополнительные условия.

          .rightDesc
            .rightDesc-item
              i.icon.icon-le-smart-price
              .text
                span СТОИМОСТЬ НАПИСАНИЯ РАБОТЫ ОТ
                span.price от 6900 ₷

            .rightDesc-item
              i.icon.icon-le-short-time
              .text
                span СРОК ВЫПОЛНЕНИЯ
                span.price 21 ДЕНЬ
      .finalWork
        .finalWorkHead
          .step
            span ЗАКЛЮЧАЕМ ДОГОВОР
            span.arrowNext →
          .step
            span ВНОСИТЕ 50% ПРЕДОПЛАТУ
            span.arrowNext →
          .step
            span ПОГАШАЕТЕ ОСТАТОК ПО ГОТОВНОСТИ РАБОТЫ

        .description
          div
            h4 КТО БУДЕТ АВТОРОМ МОЕЙ ДИПЛОМНОЙ РАБОТЫ?
            p Подготовкой дипломных проектов на заказ занимаются действующие преподаватели вузов. На их счету более 8000 успешно выполненных дипломных работ. Мы уверены в каждом авторе, клиентам гарантируется помощь опытных специалистов.
          div
            h4 КАКОЙ МАТЕРИАЛ НАПИШУТ?
            p Результатом станет уникальный текст без заимствованных фрагментов с глубокой проработкой темы. Соблюдаются все требования по оформлению дипломной работы. Логичный труд на основе современной литературы заслужит справедливо высокую оценку руководителя и комиссии. Если потребуется внести правки, они займут минимум времени. Доработка выполняется бесплатно.
          div
            h4 КАКИЕ ГАРАНТИИ ПРЕДОСТАВЛЯЕТ КОМПАНИЯ?
            p Предлагаем заказать дипломные проекты с оформлением официального договора между заказчиком и исполнителем. Юридическое оформление — гарантия выполнения обязательств. Мы строго соблюдаем сроки, клиентам гарантируется ответственный подход на каждом этапе.
          div
            h4 КАК ОФОРМИТЬ ЗАКАЗ
            p Чтобы заказать диплом недорого, позвоните или оставьте заявку на сайте. Написание обойдется дешево и сэкономит время. Менеджер подберет подходящего автора, отлично разбирающегося в вопросе. После подписания договора мы выполним условия в установленный срок.
      .fivePlus
        .list
          h2 5 ПРИЧИН ЗАКАЗАТЬ НАПИСАНИЕ ДИПЛОМНОЙ РАБОТЫ У НАС
          p
            span="1. Сжатое время выполнения заказов. "
            | Если нужно срочно купить диплом, оформите заказ в нашей компании. Мы не даем невыполнимых обещаний, сроки определяются объемом и сложностью.
          p
            span="2. Гарантия качества. "
            | Написание диплома на заказ — возможность недорого получить тщательно проработанный уникальный текст на любую тему. Цена приятно удивит даже экономных, при этом беспокоиться о результате не придется. Мы качественно сделаем дипломную работу, автор напишет исследование с учетом многочисленных требований.
          p
            span="3. Сопровождение до защиты. "
            | Все вопросы тщательно прорабатываются с автором работы, чтобы подготовить выпускника к успешному публичному выступлению.
          p
            span="4. Выгодное сотрудничества. "
            | Предлагаем недорого купить дипломную работу. Если она требуется срочно, оформите заявку уже сегодня.
          p
            span="5. Привлекательные цены. "
            | Наши услуги доступны, в чем уже убедились тысячи выпускников. Начните выгодное сотрудничество, результатом которого станет отличная оценка и хорошие перспективы продвижения по карьерной лестнице
      .mapContent
        .wrappImg
          img(src="../../images/elements/world-map.png", alt="")
        .freeCall
          h4 БЕСПЛАТНЫЙ ЗВОНОК ПО РОССИИ
          .phone
            i.icon.icon-mobile-black
            span 8 (812) 987 12 07
          a.btn.blackBtn(href="") ЗАКАЗАТЬ РАБОТУ
        .infoWork
          h4 ГРАФИК РАБОТЫ ОФИСА
          p Пн-Вс:09:00-24:00
          p Мы работаем по всей России!





