extends ../../layouts/index.jade

block head-title
    | - партнерская програма 2

block styles
    link(href="../../lib/owl.carousel/dist/assets/owl.carousel.min.css", rel="stylesheet")
    link(href="style.css", rel="stylesheet")

block scripts
    script(src='../../lib/materialize/js/velocity.min.js')
    script(src='../../lib/materialize/js/leanModal.js')
    script(src='../../lib/owl.carousel/dist/owl.carousel.min.js')
    script(src='main.js')

block content
    .container.page-affilateProgramm
      .wrappContent
        .photoWrapp
          .wrappImg
            img(src="../../images/partners/backPartners2.jpg", title="ЗАЙМИТЕСЬ ТЕМ, ЧТО ЛЮБИТЕ.")
          .photoWrappDecription
            h1 ПАРТНЕРСКАЯ ПРОГРАММА
            p Предназначена для людей с проактивной жизненной позицией, ориентированных на достижение первоклассных результатов.
            a.btn.defaultBtn(href="#") ЗАРЕГЕСТРИРОВАТЬСЯ
        .affilateProgrammContent

          h2 Если занимаетесь написанием курсовых, дипломов, рефератов и прочих работ для студентов, но не справляетесь с объемами, обратитесь к нам. Исполнители компании работают качественно и быстро.
          .affilateProgrammPlus
            h3 Выгодные условия сотрудничества для агентств по подготовке студенческих работ
            .affilateProgrammPlusItem
              .wrappImg
                i.icon.icon-check
              .desc
                h4 особо привлекательные цены
            .affilateProgrammPlusItem
              .wrappImg
                i.icon.icon-layrs
              .desc
                h4 максимум предметов
            .affilateProgrammPlusItem
              .wrappImg
                i.icon.icon-m-w
              .desc
                h4 своя база проверенных авторов
            .affilateProgrammPlusItem
              .wrappImg
                i.icon.icon-like
              .desc
                h4 удобная система расчетов
            .affilateProgrammPlusItem
              .wrappImg
                i.icon.icon-loop
              .desc
                h4 проверка работ отделом качества
            .affilateProgrammPlusItem
              .wrappImg
                i.icon.icon-think
              .desc
                h4 помощь персонального менеджера
          .descInfo
            p Предлагаем индивидуальным предпринимателям и компаниям, помогающим студентам в подготовке работ, выгодное сотрудничество. Если поступает много заказов на написание рефератов, контрольных, курсовых, докладов, но недостаточно исполнителей, мы готовы помочь. Компания занимается подготовкой студенческих работ по любым дисциплинам.

            p  Авторы организации — действующие преподаватели ведущих вузов. Большинство исполнителей имеют кандидатские и докторские научные степени. Здесь трудятся сотрудники с многолетним опытом работы в различных отраслях. Мы подготавливаем курсовые, дипломные, лабораторные, отчеты по практике и другие виды студенческих исследований на высоком уровне качества, поэтому останетесь довольны результатом. Гарантируем сжатые сроки исполнения.

            p Каждая работа проходит через отдел контроля качества, тексты проверяются на плагиат. Соблюдаются требования ГОСТа по оформлению, поэтому претензий не возникнет даже у требовательного преподавателя. Гарантируется ответственный подход авторов, доработки проводятся бесплатно. Чтобы начать сотрудничество, оставьте заявку на сайте. Персональный менеджер объяснит условия и проконсультирует по возникшим вопросам.

a.btn.blackBtn.modal-trigger(href="#modal1") ЗАРЕГЕСТРИРОВАТЬСЯ


    form.modalForm#modal1.modal
      .groupInput
        label Фамилия
          span.required=" *"
        input(type="text" placeholder="Фамилия")
      .groupInput
        label
          | Имя
          span.required=" *"
        input(type="text" placeholder="Имя")
      .groupInput
        label
          | Код партнера
          span.required=" *"
        input(type="text" placeholder="Код партнера")
      .groupInput
        label
          | Телефон
          span.required=" *"
        input.phoneValide(type="text" placeholder="+7 ")
      .groupInput
        label
          | e-mail
          span.required=" *"
        input(type="text" placeholder="e-mail")
      input.blackSubmit(type="submit" value="ОСТАВИТЬ ЗАЯВКУ")

