extends ../../layouts/index.jade

block head-title
    | - ЗАКАЗАТЬ ОТЧЕТ ПО ПРАКТИКЕ

block styles
    //- link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
  .container.order-work
    .wrappContent
      h1 ЗАКАЗАТЬ ОТЧЕТ ПО ПРАКТИКЕ
      .description
        p  Если нужно заказать отчет по практике, воспользуйтесь услугами нашей компании. Учебная или производственная практика во многих случаях проводится формально, так как предприятия не желают принимать на работу студентов и сотрудничать с ВУЗами. В результате подготовка полноценного отчета по практике превращается для учащихся в серьезную проблему. Лучшее решение — доверить дело специалистам, которые выполнят задание срочно и недорого. Узнайте, сколько стоит готовая работа, и оформите заказ.
      form.form.formOrderWork
        +leterOrder
        .title ОФОРМИТЬ ЗАКАЗ
        +chepterForm
        //- .formContent
          .leftFormContent
            .groupInput
              label Тип работы
                span.required *
              .select
                span.default-value ВЫБЕРИТЕ ТИП РАБОТЫ
                ul
                  li Отчет по практике
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem
                  li Lorem Ipsum
                  li Ipsum
            .groupInput
              label
                | Предмет
                span.required *
              input(type="text" placeholder="предмет")
            .groupInput
              label
                | Город
                span.required *
              input(type="text" placeholder="Введите город")
            .groupInput
              label
                | Имя
                span.required *
              input(type="text" placeholder="Ваше имя")
          .rightFormContent

            .groupInput
              .groupInputSubitem
                label
                  | Количество страниц
                  span.required *
                input.number(type="text" placeholder="60-80")
              .groupInputSubitem
                label
                  | Размер шрифта
                  span.required *
                .select.number
                  span.default-value 14px
                  ul
                    li 16px
                    li 18px
                    li 20px
            .groupInput
              label
                | Тема
                span.required *
              input(type="text" placeholder="Ваше имя")
            .groupInput
              label
                | email
                span.required *
              input(type="text" placeholder="email")
            .groupInput
              label
                | Телефон
                span.required *
              input.phoneValidation(type="tel" placeholder="+7 *** *** ****")

        input(type="submit" value="создать заказ").btn.sendBtn
      .fourPlus
        //- +fourPlus
        a.fourPlus-item.sectionContent-item.active(href="#")
          i.icon.icon-le-smart-price
          h4 Уникальные работы, проверенные на антиплагиат
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-garant
          h4 Гарантии высокого качества
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-human
          h4 Бесплатные доработки и корректировки
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-short-time
          h4 Короткие сроки
      .desc
        p  Отчет по практике на заказ готовится в соответствии с требованиями учебного заведения и особенностями специальности. Наши авторы отлично знают стандарты оформления отчета после прохождения практики. Здесь получите готовый результат по привлекательной цене.
      .processWork
        h2 ЭТАПЫ РАБОТ
        +fourCircle
        h2 СТОИМОСТЬ ОТЧЕТА ПО ПРАКТИКЕ НА ЗАКАЗ
        p Стоимость отчета по практике начинается от 1200 рублей. Его написанием занимаются квалифицированные исполнители. Они являются действующими вузовскими преподавателями, большинство авторов имеют научную степень. Поскольку мы давно сотрудничаем со студентами, схема взаимодействия отработана до мелочей. Опытные исполнители успешно справятся с заданием повышенной сложности. При этом стоимость подготовки приятно удивит даже экономных.
        .decription
          .leftDesc
            ul
              li Что влияет на цену отчета по практике и срок его выполнения?
              li ― Тип практики;
              li ― Учебная дисциплина;
              li ― Охват сведений по вопросу в академической литературе;
              li ― Наличие собственных наработок;
              li ― Ограничения по срокам;
              li ― Дополнительные условия.

          .rightDesc
            .rightDesc-item
              i.icon.icon-le-smart-price
              .text
                span СТОИМОСТЬ НАПИСАНИЯ РАБОТЫ ОТ
                span.price от 1 200 ₷

            .rightDesc-item
              i.icon.icon-le-short-time
              .text
                span СРОК ВЫПОЛНЕНИЯ
                span.price от 3 ДНЕЙ
      .finalWork
        .finalWorkHead
          .step
            span ЗАКЛЮЧАЕМ ДОГОВОР
            span.arrowNext →
          .step
            span ВНОСИТЕ 50% ПРЕДОПЛАТУ
            span.arrowNext →
          .step
            span ПОГАШАЕТЕ ОСТАТОК ПО ГОТОВНОСТИ РАБОТЫ

        .description
          div
            h4 КТО ПОДГОТОВИТ МАТЕРИАЛ?
            p В компании действует система внутренней оценки авторов, поэтому к выполнению заказов допускаются лучшие исполнители. Предлагаем оперативно и качественно сделать отчет по практике по любым направлениям. Подготовка занимает от 3 дней, стоимость начинается от 1190 руб.
          div
            h4 КАК ПОЛУЧИТЬ РАБОТУ?
            p Присылаем готовую работу на электронную почту заказчика. Возможно заказать курьерскую доставку отчета в распечатанном виде или самостоятельно забрать его в офисе.
          div
            h4 КАКИМ БУДЕТ КАЧЕСТВО?
            p Предлагаем написать отчет по практике на основе информации, полученной из открытых источников или предоставленной заказчиком. В готовой работе не будет “воды”. Каждое исследование пишется в единственном экземпляре, поэтому без проблем проходит проверку на антиплагиат.
          div
            h4 ЧТО СДЕЛАТЬ, ЧТОБЫ ОСТАВИТЬ ЗАЯВКУ?
            p Чтобы дешево купить отчет по практике, заполните форму на сайте или закажите обратный телефонный звонок. Заявки принимаются и по электронному адресу. Мы готовы к сотрудничеству, опытные авторы оперативно справятся с посатвленной задачей.

      .fivePlus
        .list
          h2 5 ПРИЧИН ЗАКАЗАТЬ ОТЧЕТ ПО ПРАКТИКЕ У НАС
          p
            span="1. Привлекательная стоимость написание отчета. "
            | Обращение к нам не потребует необоснованных затрат, мы предлагаем выгодные расценки для студентов всех направлений. Снижение стоимости обусловлено отработанной схемой взаимодействия с клиентами и опытом исполнителей.
          p
            span="2. Надежное сотрудничество на основе официального договора. "
            | В документе прописываются обязательства, мы обеспечим выполнение всех пунктов. Наша компания дорожит репутацией, поэтому о качестве беспокоиться не придется.
          p
            span="3. Гарантии качества. "
            | Каждый исполнитель занимается выполнением только одного заказа. Это обеспечивает качество работы и соблюдение индивидуальных требований клиента. Услугами компании уже воспользовались сотни студентов ведущих вузов.
          p
            span="4. Уникальность. "
            | У преподавателя не возникнет подозрений касательно оригинальности работы. Клиентам гарантирована хорошая оценка за прохождение практики.
          p
            span="5. Индивидуальные условия сотрудничества. "
            | Сопровождаем клиента на всех этапах, при необходимости доработки вносятся в текст бесплатно. Учитываем персональные требования при выполнении задания, что обеспечивает отличный результат.
      .mapContent
        .wrappImg
          img(src="../../images/elements/world-map.png", alt="")
        .freeCall
          h4 БЕСПЛАТНЫЙ ЗВОНОК ПО РОССИИ
          .phone
            i.icon.icon-mobile-black
            span 8 (812) 987 12 07
          a.btn.blackBtn(href="") ЗАКАЗАТЬ РАБОТУ
        .infoWork
          h4 ГРАФИК РАБОТЫ ОФИСА
          p Пн-Вс:09:00-24:00
          p Мы работаем по всей России!





