extends ../../layouts/index.jade

block head-title
    | - ЗАКАЗАТЬ ЭССЕ

block styles
    //- link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
  .container.order-work
    .wrappContent
      h1 ЗАКАЗАТЬ БИЗНЕС-ПЛАН
      .description
        p Для большинства начинающих предпринимателей заказать бизнес-план у специалистов по привлекательной стоимости — выгодное решение. Без опыта невозможно правильно составить документ. Трудно самостоятельно проанализировать рынок и подготовить расчеты рентабельности, чтобы получить кредит от банка или государственный грант на развитие. Эта работа займет много времени, а в случае неудачи даже перспективная идея не получит финансирования. Надежнее сразу обратиться для составления бизнес-плана к специалистам. Наша компания предлагает разработку этого документа с нуля.
      form.form.formOrderWork
        +leterOrder
        .title ОФОРМИТЬ ЗАКАЗ
        +chepterForm
        //- .formContent
          .leftFormContent
            .groupInput
              label Тип работы
                span.required *
              .select
                span.default-value ВЫБЕРИТЕ ТИП РАБОТЫ
                ul
                  li Эссе
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem
                  li Lorem Ipsum
                  li Ipsum
            .groupInput
              label
                | Предмет
                span.required *
              input(type="text" placeholder="предмет")
            .groupInput
              label
                | Город
                span.required *
              input(type="text" placeholder="Введите город")
            .groupInput
              label
                | Имя
                span.required *
              input(type="text" placeholder="Ваше имя")
          .rightFormContent

            .groupInput
              .groupInputSubitem
                label
                  | Количество страниц
                  span.required *
                input.number(type="text" placeholder="60-80")
              .groupInputSubitem
                label
                  | Размер шрифта
                  span.required *
                .select.number
                  span.default-value 14px
                  ul
                    li 16px
                    li 18px
                    li 20px
            .groupInput
              label
                | Тема
                span.required *
              input(type="text" placeholder="Ваше имя")
            .groupInput
              label
                | email
                span.required *
              input(type="text" placeholder="email")
            .groupInput
              label
                | Телефон
                span.required *
              input.phoneValidation(type="tel" placeholder="+7 *** *** ****")

        input(type="submit" value="создать заказ").btn.sendBtn
      .fourPlus
        //- +fourPlus
        a.fourPlus-item.sectionContent-item.active(href="#")
          i.icon.icon-le-smart-price
          h4 Уникальные работы, проверенные на антиплагиат
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-garant
          h4 Гарантии высокого качества
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-human
          h4 Бесплатные доработки и корректировки
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-short-time
          h4 Короткие сроки
      .desc
        p Бизнес-план на заказ — задача для нас. Опытные сотрудники по привлекательной цене разработают грамотный проект с учетом специфики выбранной отрасли. Результат непременно заинтересует перспективных инвесторов и будущих партнеров. Помощь при написании бизнес-плана — гарантия привлечения финансирования для реализации идеи.
      .processWork
        h2 ЭТАПЫ РАБОТ
        +fourCircle
        h2 СТОИМОСТЬ БИЗНЕС-ПЛАНА НА ЗАКАЗ
        p Отработанная схема сотрудничества позволяет предлагать клиентам выгодные условия. Стоимость начинается от 1400 руб., подготовка занимает от 4 дней. Написанием займутся действующие специалисты в области бизнеса и финансовой аналитики. Даже если осталось немного времени, работники успешно справятся с поставленной задачей.
        .decription
          .leftDesc
            ul
              li Из чего формируется цена на бизнес-план и срок его составления?
              li ― Объем доступных данных;
              li ― Наличие собственных наработок;
              li ― Ограничения по срокам;
              li ― Особенности содержания;
              li ― Дополнительные условия.

          .rightDesc
            .rightDesc-item
              i.icon.icon-le-smart-price
              .text
                span СТОИМОСТЬ БИЗНЕС-ПЛАНА
                span.price от 1400 ₷

            .rightDesc-item
              i.icon.icon-le-short-time
              .text
                span СРОК ВЫПОЛНЕНИЯ
                span.price от 2 дней
      .finalWork
        .finalWorkHead
          .step
            span ЗАКЛЮЧАЕМ ДОГОВОР
            span.arrowNext →
          .step
            span ВНОСИТЕ 50% ПРЕДОПЛАТУ
            span.arrowNext →
          .step
            span ПОГАШАЕТЕ ОСТАТОК ПО ГОТОВНОСТИ РАБОТЫ

        .description
          div
            h4 КТО ЗАНИМАЕТСЯ РАЗРАБОТКОЙ?
            p Чтобы написать бизнес-план, мы привлекаем профессионалов, которые в совершенстве владеют современными методами ведения бизнеса. Они знают нюансы данной сферы, что гарантирует отличный результат. На счету сотрудников успешно работающие проекты во многих сферах, поэтому они в состоянии разработать качественный бизнес-план для любой отрасли.
          div
            h4 КАК ПОЛУЧИТЬ ГОТОВУЮ РАБОТУ?
            p Клиентам предлагается два варианта получения работы: она предоставляется в электронном виде, предлагается заказать доставку распечатанного материала. Обратившись к нам, получите полностью готовый проект.
          div
            h4 ГАРАНТИИ КАЧЕСТВА
            p Перед тем как по заданию клиента подготовить материал, мы заключаем официальный договор, в котором подробно прописываются условия сотрудничества. Поскольку выполнением задания занимаются настоящие профессионалы, не придется переживать о результате. С нами без проблем защитите проект, который станет основой прибыльного дела.
          div
            h4 КАК ОСТАВИТЬ ЗАЯВКУ?
            p Чтобы узнать, сколько стоит срочная разработка бизнес-плана, и начать сотрудничество, заполните простую форму на сайте, свяжитесь с нами с помощью электронной почты или закажите обратный звонок. Мы готовы к взаимовыгодной работе с новыми клиентами.

      .fivePlus
        .list
          h2 5 ПРИЧИН РАЗРАБОТАТЬ БИЗНЕС-ПЛАН У НАС
          p
            span="1. Профессионализм. "
            | Чтобы сделать результативный бизнес-план, доверьте работу опытным сотрудникам. Вы останетесь довольны полученным проектом, ведь он произведет положительное впечатление на партнеров и инвесторов.
          p
            span="2. Минимальные сроки выполнения задания. "
            | Работники оперативно справятся с поставленной задачей. Мы в состоянии составить соответствующий стандартам бизнес-план за несколько дней.
          p
            span="3. Надежное сотрудничество. "
            | С каждым клиентом заключается договор, предоставляются гарантии качества выполненной работы.
          p
            span="4. Индивидуальный подход к решению поставленной задачи. "
            | Менеджер подберет подходящего исполнителя, специализирующегося в данной отрасли. Он подготовит материал в соответствии с требованиями к содержанию и оформлению.
          p
            span="5. Выгодные цены. "
            | Воспользуйтесь предложением, чтобы получить желаемый результат с минимальными затратами. Для начинающего бизнесмена обращение к специалистам — обоснованная экономия денег и времени.
      .mapContent
        .wrappImg
          img(src="../../images/elements/world-map.png", alt="")
        .freeCall
          h4 БЕСПЛАТНЫЙ ЗВОНОК ПО РОССИИ
          .phone
            i.icon.icon-mobile-black
            span 8 (812) 987 12 07
          a.btn.blackBtn(href="") ЗАКАЗАТЬ РАБОТУ
        .infoWork
          h4 ГРАФИК РАБОТЫ ОФИСА
          p Пн-Вс:09:00-24:00
          p Мы работаем по всей России!





