extends ../../layouts/index.jade

block head-title
    | - product

block styles
    //- link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
  .container.order-work
    .wrappContent
      h1 ЗАКАЗАТЬ КУРСОВУЮ РАБОТУ
      .description
        p Необходимость заказать курсовую работу возникает у студентов очного и заочного отделения. Самостоятельное исследование требует много времени, при этом приходится совмещать учебу с трудовой деятельностью и семьей. Скачивать готовый материал в сети бесполезно, так как требования в каждом учебном заведении отличаются. Большинство вузов проводят проверку на уникальность, что делает бессмысленным поиск материала в интернете. Но есть простое и надежное решение — поручить подготовку нам.
      form.form.formOrderWork
        +leterOrder
        .title ОФОРМИТЬ ЗАКАЗ
        +chepterForm
        //- .formContent
          .leftFormContent
            .groupInput
              label Тип работы
                span.required *
              .select
                span.default-value ВЫБЕРИТЕ ТИП РАБОТЫ
                ul
                  li Дипломная работа
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem
                  li Lorem Ipsum
                  li Ipsum
            .groupInput
              label
                | Предмет
                span.required *
              input(type="text" placeholder="предмет")
            .fileUpload.upladDoc.addInfo
              span + Приекрепить документы об образовании
              input.upload(type='file')
          .rightFormContent

            .groupInput
              .groupInputSubitem
                label
                  | Количество страниц
                  span.required *
                input.number(type="text" placeholder="60-80")
              .groupInputSubitem
                label
                  | Размер шрифта
                  span.required *
                .select.number
                  span.default-value 14px
                  ul
                    li 16px
                    li 18px
                    li 20px
            .groupInput
              label
                | Тема
                span.required *
              input(type="text" placeholder="Ваше имя")
          hr
          .leftFormContent
            .groupInput
              label
                | Город
                span.required *
              input(type="text" placeholder="Введите город")
            .groupInput
              label
                | Имя
                span.required *
              input(type="text" placeholder="Ваше имя")

          .rightFormContent
            .groupInput
              label
                | email
                span.required *
              input(type="text" placeholder="email")
            .groupInput
              label
                | Телефон
                span.required *
              input.phoneValidation(type="tel" placeholder="+7 *** *** ****")

        input(type="submit" value="создать заказ").btn.sendBtn
      .fourPlus
        //- +fourPlus
        a.fourPlus-item.sectionContent-item.active(href="#")
          i.icon.icon-le-smart-price
          h4 Уникальные работы, проверенные на антиплагиат
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-garant
          h4 Гарантии высокого качества
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-human
          h4 Бесплатные доработки и корректировки
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-short-time
          h4 Короткие сроки
      .desc
        p Курсовая работа, выполненная на заказ, представляет оригинальное научное исследование. Оно будет выполнено в точном соответствии с требованиями вуза и преподавателя. Предлагаем купить курсовик недорого, цена исследования по любой дисциплине приятно удивит. Даже если материал необходим срочно, авторы оперативно справятся с поставленной задачей. С нами с защитой не возникнет проблем. Выбор услуг компании — отличный выход для занятого студента.
      .processWork
        h2 ЭТАПЫ РАБОТ
        +fourCircle
        h2 СТОИМОСТЬ КУРСОВОЙ РАБОТЫ НА ЗАКАЗ
        p Написание студенческих курсовых требует опыта и знаний ряда нюансов в научной сфере. Стоимость работы начинается от 900 рублей и зависит от темы, учебной дисциплины, срочности выполнения. Компания «Лекурс» предлагает выполнение работ на заказ силами кандидатов и докторов наук. Авторы обладают многолетним опытом, поэтому сомневаться в качестве не придется. Отлаженная схема взаимодействия между заказчиком и исполнителем гарантирует выгодные условия сотрудничества. Благодаря этому достигается оптимальное сочетание цены услуги и качества выполнения.
        .decription
          .leftDesc
            ul
              li Из чего складывается цена курсовой работы и срок ее выполнения?
              li ― Тема курсовой работы;
              li ― Учебная дисциплина;
              li ― Охват сведений по вопросу в академической литературе;
              li ― Наличие собственных наработок;
              li ― Ограничения по срокам;
              li ― Дополнительные условия.

          .rightDesc
            .rightDesc-item
              i.icon.icon-le-smart-price
              .text
                span СТОИМОСТЬ НАПИСАНИЯ РАБОТЫ ОТ
                span.price от 900 ₷

            .rightDesc-item
              i.icon.icon-le-short-time
              .text
                span СРОК ВЫПОЛНЕНИЯ
                span.price от 3 ДНЕЙ
      .finalWork
        .finalWorkHead
          .step
            span ЗАКЛЮЧАЕМ ДОГОВОР
            span.arrowNext →
          .step
            span ВНОСИТЕ 50% ПРЕДОПЛАТУ
            span.arrowNext →
          .step
            span ПОГАШАЕТЕ ОСТАТОК ПО ГОТОВНОСТИ РАБОТЫ

        .description
          div
            h4 КТО АВТОР?
            p Предлагаем заказать онлайн качественную курсовую работу у действующих преподавателей ведущих вузов. В числе наших сотрудников кандидаты и доктора наук. Для вас действуют привлекательные цены, поэтому курсовик на любую тему выйдет недорого. Возможно срочное выполнение заказа; при этом качество курсовой будет находится на неизменно высоком уровне. Мы оказываем сопровождение на всех этапах подготовки к защите, поэтому 95% студентов успешно сдают работы после обращения к нам. Компания гарантирует высокую оригинальность текста — от 75 до 99%. Обеспечим точное соблюдение требований учебного заведения по проработке материала и оформления. Несмотря на профессиональный подход, услуга по написанию предлагается достаточно дешево.
          div
            h4 КАКОЙ МАТЕРИАЛ ПРЕДОСТАВИМ?
            p Итогом труда сотрудников станет оригинальный и детально проработанный курсовик, готовый к защите. При подготовке используется множество источников, в основе которых современные научные издания. Если возникнет необходимость в корректировках, не придется за них доплачивать. Автор внесет в текст исправления бесплатно, доработка займет минимум времени.
          div
            h4 КАКОЙ РЕЗУЛЬТАТ ГАРАНТИРУЕМ?
            p Перед тем как заказать курсовой или дипломный проект, заказчик подписывает договор. Компания предоставляет юридические гарантии надежности сделки. Не только готовим письменные научные исследования по заданной теме, но и детально прорабатываем со студентом возникшие вопросы. Мы ведем вплоть до защиты, что гарантирует успешный результат. Курсовая работа на заказ у нас — надежное решение, предлагаемое на привлекательных условиях.
          div
            h4 КАК ОФОРМИТЬ ЗАКАЗ
            p Чтобы поручить нам написать курсовую на заказ, заполните форму на сайте. В ней необходимо указать предмет, тему и объем. Менеджер компании перезвонит в течение дня, согласует рабочие вопросы и назовет цену, после чего назначит подходящего исполнителя. Он быстро справится с задачей, какой бы сложной она ни оказалась. В результате отлаженной схемы недорого получите готовый курсовой проект, соответствующий обозначенным требованиям.
      .fivePlus
        .list
          h2 5 ПРИЧИН ЗАКАЗАТЬ НАПИСАНИЕ КУРСОВОЙ У НАС
          p
            span="1. Экономия времени. "
            | Нет необходимости самостоятельно проводить научное исследование. Достаточно оставить заявку, после чего точно в обозначенное время получить готовый проект.
          p
            span="2. Проверенные авторы. "
            | Доверив выполнение профессионалам, непременно останетесь довольны результатом.
          p
            span="3. Высокая степень уникальности. "
            | Подготовленный курсовик будет невозможно найти в сети, он пройдет любые проверки на оригинальность.
          p
            span="4. Юридические гарантии. "
            | Официальный договор подтверждает, что в оговоренное время получите проект, выполненный с учетом всех требований.
          p
            span="5. Выгодные цены. "
            | Стоимость начинается от 900 рублей. С нами защититесь от необоснованных переплат и получите отличный результат.
      .mapContent
        .wrappImg
          img(src="../../images/elements/world-map.png", alt="")
        .freeCall
          h4 БЕСПЛАТНЫЙ ЗВОНОК ПО РОССИИ
          .phone
            i.icon.icon-mobile-black
            span 8 (812) 987 12 07
          a.btn.blackBtn(href="") ЗАКАЗАТЬ РАБОТУ
        .infoWork
          h4 ГРАФИК РАБОТЫ ОФИСА
          p Пн-Вс:09:00-24:00
          p Мы работаем по всей России!





