extends ../../layouts/index.jade

block head-title
    | - ЗАКАЗАТЬ МАГИСТЕРСКУЮ ДИССЕРТАЦИЮ

block styles
    //- link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
  .container.order-work
    .wrappContent
      h1 ЗАКАЗАТЬ МАГИСТЕРСКУЮ ДИССЕРТАЦИЮ
      .description
        p Для будущих выпускников решение заказать магистерскую диссертацию — удобный способ успешно окончить обучение и получить хорошую итоговую оценку. Такие работы предлагаются по привлекательным ценам, уже сегодня возможно узнать, сколько стоит магистерская диссертация. Обычно к концу обучения в вузе студенты работают, а многие успевают обзавестись семьей, поэтому на полноценную подготовку научного исследования нет времени. Наша компания предлагает профессиональную помощь в написании магистерской диссертации на любую тему.
      form.form.formOrderWork
        +leterOrder
        .title ОФОРМИТЬ ЗАКАЗ
        +chepterForm
        //- .formContent
          .leftFormContent
            .groupInput
              label Тип работы
                span.required *
              .select
                span.default-value ВЫБЕРИТЕ ТИП РАБОТЫ
                ul
                  li МАГИСТЕРСКАЯ ДИССЕРТАЦИЮ работа
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum
                  li Lorem Ipsum Ipsum
                  li Lorem
                  li Lorem Ipsum
                  li Ipsum
            .groupInput
              label
                | Предмет
                span.required *
              input(type="text" placeholder="предмет")
            .groupInput
              label
                | Город
                span.required *
              input(type="text" placeholder="Введите город")
            .groupInput
              label
                | Имя
                span.required *
              input(type="text" placeholder="Ваше имя")
          .rightFormContent

            .groupInput
              .groupInputSubitem
                label
                  | Количество страниц
                  span.required *
                input.number(type="text" placeholder="60-80")
              .groupInputSubitem
                label
                  | Размер шрифта
                  span.required *
                .select.number
                  span.default-value 14px
                  ul
                    li 16px
                    li 18px
                    li 20px
            .groupInput
              label
                | Тема
                span.required *
              input(type="text" placeholder="Ваше имя")
            .groupInput
              label
                | email
                span.required *
              input(type="text" placeholder="email")
            .groupInput
              label
                | Телефон
                span.required *
              input.phoneValidation(type="tel" placeholder="+7 *** *** ****")

        input(type="submit" value="создать заказ").btn.sendBtn
      .fourPlus
        //- +fourPlus
        a.fourPlus-item.sectionContent-item.active(href="#")
          i.icon.icon-le-smart-price
          h4 Уникальные работы, проверенные на антиплагиат
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-garant
          h4 Гарантии высокого качества
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-human
          h4 Бесплатные доработки и корректировки
        a.fourPlus-item.sectionContent-item(href="#")
          i.icon.icon-le-short-time
          h4 Короткие сроки
      .desc
        p Магистерская диссертация на заказ — готовое исследование с проработанными источниками, соответствующими требованиям теоретической и практической частями. Предлагаем уникальные работы по выгодной стоимости. Написанием занимаются действующие преподаватели вузов, работники имеют кандидатскую или докторскую научную степень.
      .processWork
        h2 ЭТАПЫ РАБОТ
        +fourCircle
        h2 СТОИМОСТЬ МАГИСТЕРСКОЙ ДИССЕРТАЦИИ НА ЗАКАЗ
        p Стоимость заказа определяется объемами исследования, сложностью темы, сроками, отведенными на написание, и начинается от 10 300 рублей. Многолетний опыт сотрудничества с заказчиками в данной сфере позволил до мелочей отработать этапы сотрудничества и снизить расценки. При этом помощь в подготовке магистерской работы осуществляется настоящими профессионалами.
        .decription
          .leftDesc
            ul
              li Из чего формируется цена магистерской работы и срок ее выполнения?
              li ― Тема магистерской диссертации;
              li ― Учебная дисциплина;
              li ― Охват сведений по вопросу в академической литературе;
              li ― Наличие собственных наработок;
              li ― Ограничения по срокам;
              li ― Дополнительные условия.

          .rightDesc
            .rightDesc-item
              i.icon.icon-le-smart-price
              .text
                span СТОИМОСТЬ ДИССЕРТАЦИИ
                span.price от 10 300 ₷

            .rightDesc-item
              i.icon.icon-le-short-time
              .text
                span СРОК ВЫПОЛНЕНИЯ
                span.price от 14 ДНЕЙ
      .finalWork
        .finalWorkHead
          .step
            span ЗАКЛЮЧАЕМ ДОГОВОР
            span.arrowNext →
          .step
            span ВНОСИТЕ 50% ПРЕДОПЛАТУ
            span.arrowNext →
          .step
            span ПОГАШАЕТЕ ОСТАТОК ПО ГОТОВНОСТИ РАБОТЫ

        .description
          div
            h4 КТО ЯВЛЯЕТСЯ ИСПОЛНИТЕЛЕМ?
            p Автором диссертации магистра станет опытный исполнитель, обладающий научной степенью. Каждый сотрудник занимается одним проектом, что обеспечивает высокое качество выполнения. На нашем счету сотни успешно защищенных работ, мы уверены в каждом авторе.
          div
            h4 КАКОЙ ПОЛУЧИТЬ РАБОТУ?
            p  Получить магистерскую научную статью предлагается несколькими способами. Мы отправим текст на электронную почту. При необходимости курьер доставит по указанному адресу распечатанный вариант. Предлагается самостоятельно забрать готовый текст в офисе. Менеджеры проконсультируют по возникшим вопросам.
          div
            h4 ЧТО ГАРАНТИРУЕМ?
            p Оформление готового проекта соответствует ГОСТу и требованиям высшего учебного заведения. Каждая работа уникальна. Она обязательно проходит проверку на антиплагиат, поэтому не возникнет проблем с допуском к защите. Мы занимаемся написанием магистерских диссертаций по договору, для заказчика это гарантия соблюдения требований.
          div
            h4 РЕШИЛИ ОСТАВИТЬ ЗАЯВКУ?
            p Чтобы купить магистерскую диссертацию, заполните форму заказа на сайте или свяжитесь с нами по телефону. Заявки принимаются по электронному адресу, мы всегда готовы к сотрудничеству с новыми клиентами.

      .fivePlus
        .list
          h2 5 ПРИЧИН ДОВЕРИТЬ НАПИСАНИЕ МАГИСТЕРСКОЙ РАБОТЫ НАМ
          p
            span="1. Выгодные расценки. "
            | Предлагаем написать уникальную магистерскую диссертацию по любой теме по привлекательной цене — от 10300 руб. Доработки по требованию заказчика проводятся бесплатно.
          p
            span="Сжатые сроки выполнения заказов. "
            | Минимальное время на подготовку научного исследования составляет 14 дней. Чем труднее задача, тем больше времени понадобится исполнителю на выполнение заказа.
          p
            span="3. Гарантия надежности. "
            | С каждым клиентом заключается официальный договор с подробно прописанными условиями. Гарантируем заказчикам соблюдение взятых обязательств. В диссертацию незамедлительно вносятся необходимые корректировки.
          p
            span="4. Индивидуальное сотрудничество. "
            | Менеджер подберет исполнителя, отлично разбирающегося в вопросе. Мы учитываем персональные требования клиентов и преподавателей вузов.
          p
            span="5. Высокое качество. "
            | Результатом труда исполнителя станет научное исследование, полностью раскрывающее выбранную тему. На защите студент гарантированно получит высокую оценку, которая сыграет важную роль в последующем трудоустройстве и построении карьеры.
      .mapContent
        .wrappImg
          img(src="../../images/elements/world-map.png", alt="")
        .freeCall
          h4 БЕСПЛАТНЫЙ ЗВОНОК ПО РОССИИ
          .phone
            i.icon.icon-mobile-black
            span 8 (812) 987 12 07
          a.btn.blackBtn(href="") ЗАКАЗАТЬ РАБОТУ
        .infoWork
          h4 ГРАФИК РАБОТЫ ОФИСА
          p Пн-Вс:09:00-24:00
          p Мы работаем по всей России!





